{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:53:27",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"views\": [{\"id\": 12977500281746}, {\"id\": 12977500299666}, {\"id\": 12977494908434}, {\"id\": 12977525735314}, {\"id\": 12977509423506}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=12977500281746,12977500299666,12977494908434,12977525735314,12977509423506"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "649"
          ],
          "rate-limit-reset": [
            "33"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "649"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"views\", :action=>\"destroy_many\", :unpermitted_keys=>[\"views\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17926"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-56c6d98d7f-27nqt"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=12977500281746,12977500299666,12977494908434,12977525735314,12977509423506"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}