{
  "http_interactions": [
    {
      "recorded_at": "2023-08-08T15:07:37",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"trigger\": {\"actions\": [{\"field\": \"status\", \"value\": \"open\"}], \"id\": null, \"title\": \"testTriggerNone\", \"all\": [{\"field\": \"status\", \"operator\": \"less_than\", \"value\": \"solved\"}, {\"field\": \"update_type\", \"operator\": \"is\", \"value\": \"Create\"}]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/triggers.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"trigger\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/triggers/12962674180754.json\",\"id\":12962674180754,\"title\":\"testTriggerNone\",\"active\":true,\"updated_at\":\"2023-08-08T15:07:36Z\",\"created_at\":\"2023-08-08T15:07:36Z\",\"default\":false,\"actions\":[{\"field\":\"status\",\"value\":\"open\"}],\"conditions\":{\"all\":[{\"field\":\"status\",\"operator\":\"less_than\",\"value\":\"solved\"},{\"field\":\"update_type\",\"operator\":\"is\",\"value\":\"Create\"}],\"any\":[]},\"description\":null,\"position\":19,\"raw_title\":\"testTriggerNone\",\"category_id\":\"5089772875922\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"9e4632742e57b2f3726ca759a185933c\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/triggers/12962674180754.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "661"
          ],
          "rate-limit-reset": [
            "24"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "661"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"triggers\", :action=>\"create\", :unpermitted_keys=>[\"trigger.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17913"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7d65b4cb84-5pn4l"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/triggers.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}