{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:49:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\": {\"actions\": [{\"field\": \"status\", \"value\": \"open\"}], \"id\": null, \"title\": \"testAutomationNone\", \"all\": [{\"field\": \"status\", \"operator\": \"is\", \"value\": \"pending\"}, {\"field\": \"PENDING\", \"operator\": \"greater_than\", \"value\": \"24\"}]}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "POST",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations.json"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\":{\"url\":\"https://d3v-zenpydev.zendesk.com/api/v2/automations/12977442349074.json\",\"id\":12977442349074,\"title\":\"testAutomationNone\",\"active\":true,\"updated_at\":\"2023-08-09T10:49:02Z\",\"created_at\":\"2023-08-09T10:49:02Z\",\"default\":false,\"actions\":[{\"field\":\"status\",\"value\":\"open\"}],\"conditions\":{\"all\":[{\"field\":\"status\",\"operator\":\"is\",\"value\":\"pending\"},{\"field\":\"PENDING\",\"operator\":\"greater_than\",\"value\":\"24\"}],\"any\":[]},\"position\":10001,\"raw_title\":\"testAutomationNone\"}}"
        },
        "headers": {
          "Content-Type": [
            "application/json; charset=utf-8"
          ],
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "etag": [
            "W/\"fb212b059a21f51b7676770f2728227b\""
          ],
          "location": [
            "https://d3v-zenpydev.zendesk.com/api/v2/automations/12977442349074.json"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "693"
          ],
          "rate-limit-reset": [
            "58"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "693"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"create\", :unpermitted_keys=>[\"automation.id\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17926"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-56c6d98d7f-7dw4q"
          ]
        },
        "status": {
          "code": 201,
          "message": "Created"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations.json"
      }
    },
    {
      "recorded_at": "2023-08-09T10:49:02",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\": {\"id\": 12977442349074}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations/12977442349074.json"
    [...]
