{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:50:07",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macros\": [{\"id\": 12977444976146}, {\"id\": 12977444997522}, {\"id\": 12977463349650}, {\"id\": 12977432648850}, {\"id\": 12977447186450}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=12977444976146,12977444997522,12977463349650,12977432648850,12977447186450"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "671"
          ],
          "rate-limit-reset": [
            "52"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "671"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"macros\", :action=>\"destroy_many\", :unpermitted_keys=>[\"macros\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17926"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-56c6d98d7f-flh9b"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=12977444976146,12977444997522,12977463349650,12977432648850,12977447186450"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}