{
  "http_interactions": [
    {
      "recorded_at": "2023-08-08T09:57:29",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automations\": [{\"id\": 12955151272594}, {\"id\": 12955104937234}, {\"id\": 12955167180306}, {\"id\": 12955105039378}, {\"id\": 12955130380690}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=12955151272594,12955104937234,12955167180306,12955105039378,12955130380690"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "675"
          ],
          "rate-limit-reset": [
            "31"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "675"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"destroy_many\", :unpermitted_keys=>[\"automations\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17907"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-6cdd477f98-95ddm"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=12955151272594,12955104937234,12955167180306,12955105039378,12955130380690"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}