{
  "http_interactions": [
    {
      "recorded_at": "2023-08-08T12:15:05",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"macros\": [{\"id\": 12958515144466}, {\"id\": 12958484798738}, {\"id\": 12958501167762}, {\"id\": 12958484835346}, {\"id\": 12958511784850}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=12958515144466,12958484798738,12958501167762,12958484835346,12958511784850"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "678"
          ],
          "rate-limit-reset": [
            "55"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "678"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"macros\", :action=>\"destroy_many\", :unpermitted_keys=>[\"macros\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17907"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-6cdd477f98-c7dt6"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/macros/destroy_many.json?ids=12958515144466,12958484798738,12958501167762,12958484835346,12958511784850"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}