{
  "http_interactions": [
    {
      "recorded_at": "2023-08-08T17:53:09",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"views\": [{\"id\": 12965350854546}, {\"id\": 12965335945106}, {\"id\": 12965366903570}, {\"id\": 12965313289234}, {\"id\": 12965313303442}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=12965350854546,12965335945106,12965366903570,12965313289234,12965313303442"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "672"
          ],
          "rate-limit-reset": [
            "51"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "672"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"views\", :action=>\"destroy_many\", :unpermitted_keys=>[\"views\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17913"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-7d65b4cb84-dkqhr"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/views/destroy_many.json?ids=12965350854546,12965335945106,12965366903570,12965313289234,12965313303442"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}