{
  "http_interactions": [
    {
      "recorded_at": "2023-08-08T09:57:30",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automation\": {\"id\": 12955168133138}}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations/12955168133138.json"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "672"
          ],
          "rate-limit-reset": [
            "30"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "672"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"destroy\", :unpermitted_keys=>[\"automation.id\", \"automation\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17907"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-6cdd477f98-pp9f2"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations/12955168133138.json"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}