{
  "http_interactions": [
    {
      "recorded_at": "2023-08-09T10:49:00",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "{\"automations\": [{\"id\": 12977410691474}, {\"id\": 12977401658386}, {\"id\": 12977414631570}, {\"id\": 12977442075282}, {\"id\": 12977414650514}]}"
        },
        "headers": {
          "Authorization": [
            "Basic <ZENPY-CREDENTIALS>"
          ],
          "Content-Type": [
            "application/json"
          ]
        },
        "method": "DELETE",
        "uri": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=12977410691474,12977401658386,12977414631570,12977442075282,12977414650514"
      },
      "response": {
        "body": {
          "encoding": null,
          "string": ""
        },
        "headers": {
          "X-Zendesk-Zorg": [
            "yes"
          ],
          "rate-limit": [
            "700"
          ],
          "rate-limit-remaining": [
            "697"
          ],
          "rate-limit-reset": [
            "60"
          ],
          "x-rate-limit": [
            "700"
          ],
          "x-rate-limit-remaining": [
            "697"
          ],
          "x-zendesk-api-version": [
            "v2"
          ],
          "x-zendesk-api-warn": [
            "{:allowed_parameters=>{:controller=>\"automations\", :action=>\"destroy_many\", :unpermitted_keys=>[\"automations\"], :invalid_values=>[]}}"
          ],
          "x-zendesk-application-version": [
            "v17926"
          ],
          "x-zendesk-origin-server": [
            "classic-app-server-56c6d98d7f-wb2t6"
          ]
        },
        "status": {
          "code": 204,
          "message": "No Content"
        },
        "url": "https://d3v-zenpydev.zendesk.com/api/v2/automations/destroy_many.json?ids=12977410691474,12977401658386,12977414631570,12977442075282,12977414650514"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}